@import url('https://fonts.googleapis.com/css?family=Open+Sans');
h2{
   margin: -10px -50 px;
   text-align: center;
}
hr{
   margin: 10px -50px;
}
div.outerbox{
   width: 1200px;
   height:800px;
   font-family: 'Open+Sans';
   background-color: #7FFFD4;
}
div.mainbox{
   position: relative;
   width: 300px;
}
input[type=text],input[type=password]{
   width: 100%;
   height: 40px;
   padding: 5px;
}

input[type=button]{
   font-size: 14px;
   border: none;
   color: white;
   text-align: center;
   padding: 15px 32px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}

